.imgheader{
    background: url("../img/web.jpg");
    height: 350px;
}
.alto{
    height: 400px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
p{
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

li{
    list-style: none;
}

.txt-white{
    color: white;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.txt-white:hover{
    color:#0c0c0c;
    cursor: pointer;
    border-bottom: 2px solid white;
    transition: all 0.5s ease-in-out;
}

.borde1{
    border: 1px solid black;

}
h2 img{
    width: 500px;
    height: 5rem;
}

.foto{
    width: 80px;
    height: 80px;
}


.bar{
    background-color: red;
    width: 30%;
}

.progreso{
    width: 50%;
}
footer ul li a img {
    width: 45px;
    height: 45px;
}
footer{
    background-color:  #484848;
}
.margen{
    margin: 5rem;
}
textarea{
    height: 10rem;
}
